* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 0.625 * 16px = 10px */
}

body {
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1.8rem;
  color: #222;
  /* background-color: #aaa; */
  padding: 2rem; /*to bring the entire body for 20px in front!*/
  /* border: 2px solid #333; */
}

.container {
  /* width: 1140px; */
  /* background-color: red; */
  /* border: 2px solid #333; */
  max-width: 1140px; /* ONLY WITH THIS ONE COMMAND, WE CAN MAKE IT RESPONSIVE FOR DIFFERENT DEVICES - IT COVERS A GOOD RESPONSIVENESS TILL MAXIMUM 1140px WHICH IS MORE THAN A NORMAL RESOLUTION FOR A LAPTOP!*/
  margin: 0 auto;
}

.second-section {
  /* WHEN I GIVE PADDING HERE, IT WILL NOT WORK CORRECTLY FOR SMALL DEVICES, THAT'S WHY I COMMENTED IT OUT! */
  /* padding: 3rem 0 2rem 2rem; */
  /* padding: 3rem; */
}

h1,
h2,
h3 {
  color: black;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 3rem;
}

h1 {
  margin-top: 3rem;
  font-size: 5.61rem;
}

h2 {
  font-size: 4.209rem;
}

h3 {
  font-size: 3.157rem;
}

/* h4 {
  font-size: 2.369rem;
}

h5 {
  font-size: 1.777rem;
}

h6 {
  font-size: 1.333rem;
} */

ul,
ol {
  padding-left: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
}

ul li:last-child {
  margin-bottom: 3rem;
}

ol li {
  margin-bottom: 2rem;
}

img {
  width: 100%;
  margin-bottom: 3rem;
  /* height: 250px; */
  /* object-fit: cover; */
}

p {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-family: "PT Serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
